<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="expenses" href="/tabs/expenses">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Gastos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tasks" href="/tabs/tasks">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Tareas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="polls" href="/tabs/polls">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>Votaciones</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
