<ion-header>
  <ion-toolbar>
    <ion-title>Acceder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="stacked">Correo electrónico</ion-label>
      <ion-input type="email" formControlName="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="loading">
      {{ loading ? 'Entrando...' : 'Entrar' }}
    </ion-button>

    <ion-text color="danger" *ngIf="error">
      <p class="error-message">{{ error }}</p>
    </ion-text>
  </form>
</ion-content>
