// Ionic variables for G06-Gestor-De-Piso Figma Style
:root {
  --ion-background-color: #FAF5F0;
  --ion-text-color: #3E2319;

  --ion-color-primary: #592C1D;
  --ion-color-primary-rgb: 89,44,29;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #4e271a;
  --ion-color-primary-tint: #6a4133;

  --ion-color-secondary: #8C736C;
  --ion-color-secondary-rgb: 140,115,108;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #7b655f;
  --ion-color-secondary-tint: #97817a;

  --ion-color-tertiary: #9D4436;
  --ion-color-tertiary-rgb: 157,68,54;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #8a3c2f;
  --ion-color-tertiary-tint: #a7574a;

  --ion-font-family: 'Outfit', sans-serif;
}
